[user]
	name = kschat
	email = kyleschattler@gmail.com
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[alias]
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

	lg = !git lg1
	st = status
[push]
	default = current
[pull]
  rebase = false
[core]
	excludesfile = ~/.gitignore
	pager = delta
[merge]
	tool = vimdiff
	conflictstyle = diff3
[include]
	path = .gitconfig.local
[credential]
	helper = bitwarden
[interactive]
	diffFilter = delta --color-only
[diff]
	colorMoved = default

[delta]
	syntax-theme = gruvbox-material-dark
	hunk-header-style = line-number white underline
	hunk-header-line-number-style = white
	hunk-header-decoration-style = none
	plus-style = syntax "#3b4439"
	minus-style = syntax "#4c3432"
[init]
	defaultBranch = main
