[user]
	name = kschat
	email = kyleschattler@gmail.com
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[alias]
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

	lg = !git lg1
	st = status
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[include]
  path = .gitconfig.local
[credential]
	helper = bitwarden

