temp-dir/
*.swp
tf2/class_config/sound
mopidy/credentials.conf
*.local
.DS_Store
Session.vim
zsh/.exports-private
zwift/auth

vim/.vim/autoload/
vim/.vim/backup/
vim/.vim/plugged/
vim/.vim/session/
vim/.vim/swap/
vim/.vim/.netrwhist

systemd/user/*.target.wants/
