[Unit]
Description=Screenshare Hook
After=display-manager.service

[Service]
Type=simple
ExecStart=/home/kyle/.bin/on-screenshare

[Install]
WantedBy=default.target
