! Colors
#include ".colors/gruvbox-material-dark"

*.foreground:     fg
*.background:     bg
*.cursorColor:    fg
*.highlightColor: b_black

! black
*.color0:         black
*.color8:         b_black
! red
*.color1:         red
*.color9:         b_red
! green
*.color2:         green
*.color10:        b_green
! yellow
*.color3:         yellow
*.color11:        b_yellow
! blue
*.color4:         blue
*.color12:        b_blue
! magenta
*.color5:         magenta
*.color13:        b_magenta
! cyan
*.color6:         cyan
*.color14:        b_cyan
! white
*.color7:         white
*.color15:        b_white

! Xft settings
Xft.autohint:   0
Xft.dpi:        109
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault

! Urxvt settings
URxvt.font: xft:Source Code Pro:style=Semibold,size=11,antialias=true
URxvt.letterSpace: -1

URxvt.perl-ext-common: resize-font
URxvt*loginShell: false
URxvt*iso14755:   false

URxvt*title:            urxvt
URxvt.scrollBar:        false
URxvt*cursorBlink:      false
URxvt*intensityStyles:  false

URxvt*externalBorder: 0
URxvt*internalBorder: 10

! SSH AskPass settings
x11-ssh-askpass*font:                   -*-droid sans-medium-r-*-*-20-*-*-*-*-*-*-*
x11-ssh-askpass*background:             bg
x11-ssh-askpass*foreground:             fg
x11-ssh-askpass.Button*background:      bg
x11-ssh-askpass.Indicator*foreground:   blue
x11-ssh-askpass.Indicator*background:   fg
x11-ssh-askpass.Indicator*borderWidth:   0
x11-ssh-askpass.Indicator*horizontalSpacing: 4
x11-ssh-askpass*borderWidth:           2
x11-ssh-askpass*borderColor:           fg
x11-ssh-askpass*shadowThickness:   0
x11-ssh-askpass*defaultXResolution: 138/in
x11-ssh-askpass*defaultYResolution: 138/in
