! Colors
#include ".colors/nameless"

*.foreground:     fg
*.background:     bg
*.cursorColor:    fg
*.highlightColor: b_black

! black
*.color0:         black
*.color8:         b_black
! red
*.color1:         red
*.color9:         b_red
! green
*.color2:         green
*.color10:        b_green
! yellow
*.color3:         yellow
*.color11:        b_yellow
! blue
*.color4:         blue
*.color12:        b_blue
! magenta
*.color5:         magenta
*.color13:        b_magenta
! cyan
*.color6:         cyan
*.color14:        b_cyan
! white
*.color7:         white
*.color15:        b_white

! Xft settings
Xft.autohint:   0
Xft.dpi:        138
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault

! Urxvt settings
URxvt.font: xft:Source Code Pro Medium:size=11,style=Medium,antialias=true

URxvt*loginShell: false
URxvt*iso14755:   false

URxvt*title:            urxvt
URxvt.scrollBar:        false
URxvt*cursorBlink:      false
URxvt*intensityStyles:  false

URxvt*externalBorder: 0
URxvt*internalBorder: 10

! Rofi settings
rofi.font:        Source Code Pro Bold 40
rofi.opacity:     90
rofi.bw:          0
rofi.padding:     400
rofi.lines:       10
rofi.columns:     1

rofi.modi:            window,run
rofi.fullscreen:      true
rofi.separator-style: none
rofi.hide-scrollbar:  true

! bg fg altbg hlbg hlfg
rofi.color-enabled: true
rofi.color-window:  fg, fg
rofi.color-normal:  fg, bg, fg, blue, fg
rofi.color-active:  fg, gray, gray, blue, fg
rofi.color-urgent:  fg, red, fg, red, fg

