# vi: filetype=zsh

# add move without globbing to support things like `mmv *.foo *.bar`
alias mmv='noglob zmv -W'

# creates a new tmux session named after the current working directory
alias tmux-new='tmux new -s "${${PWD##*/}/./-}" nvim \; new-window -d'

alias cat='bat --paging never'

# Temp workaround to disable punycode deprecation logging to stderr
# https://github.com/bitwarden/clients/issues/6689#issuecomment-1787609205
alias bw='NODE_OPTIONS="--no-deprecation" bw'

if [[ "$OSTYPE" == linux* ]]; then
  # sublime-text-dev on arch exports command as `subl3` instead of `subl`
  alias subl=subl3
  alias clipboard-copy='wl-copy'
fi

if [[ $OSTYPE == darwin* ]]; then
  alias java8='export JAVA_HOME=$JAVA_8_HOME'
  alias java10='export JAVA_HOME=$JAVA_10_HOME'
  alias clipboard-copy='pbcopy'
fi

# Git aliases
alias g='git'
alias gc='git checkout'
alias gcb='git checkout -b'
alias gpl='git pull'
alias gps='git push'
alias gco='git commit -m'
alias gs='git stash'
alias gsa='git status -u'
