# vi: filetype=zsh

#
# Browser
#

if [[ $OSTYPE == darwin* ]]; then
  export BROWSER='open'
fi

#
# Editors
#

export EDITOR='nvim'
export VISUAL='nvim'
export PAGER='less'

#
# Terminal emulators
#

# fixes bug in terminator that doesn't set the TERM environment variable
# correctly and results in tmux not using 256 colors
if [[ $COLORTERM = gnome-terminal && ! $TERM = screen-256color ]]; then
 export TERM=xterm-256color
fi

#
# Language
#

if [[ -z "$LANG" ]]; then
  export LANG='en_US.UTF-8'
fi

#
# Paths
#

# Ensure path arrays do not contain duplicates.
typeset -gU fpath path

export XDG_CONFIG_HOME="$HOME"/.config
export WORKSPACE="$HOME"/Workspace
export NOTES="$HOME/Workspace/notes"
export NVM_DIR="$HOME"/.nvm
export DOTFILES="$WORKSPACE/dotfiles"
export VIMRC="$DOTFILES/vim/.vimrc"

export SLEDGE_BIN="$HOME"/.sledge/bin

if [[ $OSTYPE == linux* ]]; then
  export SSH_ASKPASS='/usr/lib/ssh/x11-ssh-askpass'
  export WORKON_HOME="$HOME"/.virtualenvs
  export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python2
  export VIRTUALENVWRAPPER_VIRTUALENV=/usr/bin/virtualenv2
  export VIRTUALENVWRAPPER_SH=/usr/bin/virtualenvwrapper.sh
fi

path=(
  $HOME/.bin
  /usr/local/bin
  /usr/local/heroku/bin
  $HOME/.rvm/bin
  $WORKSPACE/scripts
  $WORKSPACE/scripts/tmux-scripts
  $HOME/Library/Haskell/bin
  $HOME/.cargo/bin
  $SLEDGE_BIN
  $path
)

fpath=(
  $HOME/.functions
  $fpath
)

export PATH
export FPATH

#
# Less
#

# Set the default Less options.
# Mouse-wheel scrolling has been disabled by -X (disable screen clearing).
# Remove -X and -F (exit if the content fits on one screen) to enable it.
export LESS='-F -g -i -M -R -S -w -X -z-4'

# Set the Less input preprocessor.
# Try both `lesspipe` and `lesspipe.sh` as either might exist on a system.
if (( $#commands[(i)lesspipe(|.sh)] )); then
  export LESSOPEN="| /usr/bin/env $commands[(i)lesspipe(|.sh)] %s 2>&-"
fi

#
# Docker
#

# Show full output of commands when building an image
export BUILDKIT_PROGRESS=plain

#
# Bat
#

export BAT_THEME='gruvbox-material-dark'

#
# Miscellaneous
#

if [[ $OSTYPE == linux* ]]; then
  export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true'
  export _JAVA_AWT_WM_NONREPARENTING=1

  export MOZ_ENABLE_WAYLAND=1
fi

if [[ $OSTYPE == darwin* ]]; then
  export JAVA_8_HOME=$(/usr/libexec/java_home -v1.8)
  export JAVA_10_HOME=$(/usr/libexec/java_home -v10)
  export JAVA_11_HOME=$(/usr/libexec/java_home -v11)

  # default Java 11
  export JAVA_HOME=$JAVA_11_HOME

  export OPENSSL_ROOT_DIR=/usr/local/opt/openssl/
fi

#
# fzf
#

# Who needs a config file when we have environment variables? /s

export FZF_PREVIEW_COMMAND='bat --style=numbers --wrap never --color always {}'
export FZF_DEFAULT_COMMAND='rg --files --no-ignore-vcs --hidden'
export FZF_DEFAULT_OPTS=$({
  local bg='#282828'
  local fg='#d4be98'

  local black='#3c3836'
  local red='#ea6962'
  local green='#a9b665'
  local yellow='#d8a657'
  local blue='#7daea3'
  local magenta='#d3869b'
  local cyan='#89b482'
  local white='#d4be98'

  local b_black='#928374'
  local b_red='#ea6962'
  local b_green='#a9b665'
  local b_yellow='#d8a657'
  local b_blue='#7daea3'
  local b_magenta='#d3869b'
  local b_cyan='#89b482'
  local b_white='#d4be98'

  echo "\
    --preview '$FZF_PREVIEW_COMMAND'\
    --prompt '  ' --pointer '' --info inline-right --header ' ' \
    --color=bg+:$bg,bg:$bg,spinner:$cyan,hl:$cyan\
    --color=fg:$fg,header:$bg,info:$yellow,pointer:$cyan\
    --color=marker:$cyan,fg+:$fg:bold,prompt:$yellow,hl+:$cyan\
    --color=gutter:$bg,border:$b_black\
  "
})
